/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/************************************** END */


@font-face {
    font-family: 'OpenSansRegular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansLight';
    src: url('fonts/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
	height: 100%;
}
body {
	font-family: 'OpenSansRegular';
}

.webinoslogo {
	display: none;
}

.header {
	font-family: 'OpenSansLight';
	color: #fff;
	background: #000;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-bottom: 10px solid #FFFA00;
	height: 110px;
	z-index: 10;
	-webkit-box-shadow: 0 0 20px 0px #555;
	box-shadow: 0 0 20px 0px #555;
	overflow: hidden;
}
.header hr {
	margin: 5px 0;
	border-color: #0079C2;
	border-bottom: 0;
}
.header img {
	margin-left: 10px;
	height: 20px;
}

.title {
	width: 100%;
	z-index: -1;
	padding-right: 10px;
	font-size: 210%;
	margin-left: 10px;
	margin-top: 5px;
	color: #0084FF;
}
.subtitle {
	font-size: 140%;
	margin-left: 10px;
}

.content {
	min-height: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 120px 10px 20px;
	/*text-transform: uppercase;*/
	font-size: 90%;
	-webkit-box-shadow: inset 0 0 25px #333;
	box-shadow: inset 0 0 25px #333;
	background: #fff url(img/webinosBgLightGray.png) 50% 50% no-repeat;
	background-size: 200px;
	background-attachment: fixed;
}
#store-list-container > div {
	position: relative;
	border-top: 1px dotted #DDD;
}
#store-list-container > div:first-child, #store-list-container > div:last-child {
	border-top: none;
}

#store-list-container label {
	width: 100%;
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-right: 30px;
}
#store-list-container input {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
}

#store-list-container > div:not(#foo) > input {
	opacity: 0;
}
#store-list-container > div:not(#foo) > input + label {
    background: url(img/check.png) 100% 50% no-repeat;
    padding: 12px 30px 12px 0;
    font-size: 120%;
	font-family: 'OpenSansLight';
}
#store-list-container > div:not(#foo) > input[type=checkbox]:checked + label {
    background: url(img/check-s.png) 100% 50% no-repeat;
}

.button {
	width: 49%;
	margin: 0 auto;
	padding: 0.3em;
	border: 1px solid #111;
	cursor: pointer;
	display: inline-block;
	height: 1.7em;
	background: #222;
	-webkit-box-shadow: 0 0 7px 2px #444;
	box-shadow: 0 0 7px 2px #444;
	color: white;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-align: center;
}
#store-list-container hr {
	border-color: #0084FF;
	border-width: 1px 0 0 0;
	border-style: dashed;
	margin: 1.5em 0 1.5em;
}

#unknown-location {
	margin-top: 1em;
}
#unk-loc-explained {

}

.permissions-controls {
	margin: 1em 0;
	-webkit-box-shadow: 0 0 7px 2px #aaa;
	box-shadow: 0 0 7px 2px #aaa;
}
.permissions-controls > div {
	width: 33%;
	border: none;
	border-bottom: 1px solid #222;
	-webkit-box-shadow: none;
	box-shadow: none;
	vertical-align: bottom;
}
.permissions-controls > div + div {
	width: 34%;
}
.permissions-controls > div + div + div {
	width: 33%;
}
.allow.selected {color: #fff; border-bottom: 4px solid #0f0; background: #111;}
.allow {color: #040; background: #eee;}
.prompt.selected {color: #fff; border-bottom: 4px solid #ff0; background: #111;}
.prompt {color: #440; background: #eee;}
.deny.selected {color: #fff; border-bottom: 4px solid #f00; background: #111;}
.deny {color: #400; background: #eee;}

.info {
	background: #fff;
	color: #000;
	padding-left: 2em !important;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.info:before {
	content: 'INFO';
	position: absolute;
	top: 50%;
	left: -50%;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-moz-transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	background: #0084FF;
	width: 100%;
	text-align: center;
	padding: 0.4em 0;
	color: white;
	font-size: 80%;
	font-weight: bold;
}


/************************* MOBILE PART ENDS HERE */


@media screen and (min-width: 960px) {
	body {
		background: #7F7F7F;
		text-align: center;
		width: 100%;
		overflow: hidden;
	}

	.webinoslogo {
		display: block;
		position: absolute;
		padding: 10px;
		top: 0;
		left: 0;
	}

	.header {
		display: inline-block;
		position: relative;
		width: 400px;
		text-align: left;
		height: 100%;
		vertical-align: top;
		border-bottom-width: 5px;
		-webkit-box-shadow: 0 0 20px 0px #000;
		box-shadow: 0 0 20px 0px #000;
		width: 130px;
	}
	.header img {
		display: none;
	}

	.content {
		height: 100%;
		overflow: auto;
		display: inline-block;
		width: 560px;
		text-align: left;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		margin-left: -3px;
		background: #fff url(img/webinosBgLightGray.png) 50% 50% no-repeat;
		background-attachment: scroll;
		background-size: 500px;
		border-bottom: 5px solid #0084FF;
		margin-bottom: -10px; /* inline-block whitespace hack/fix */
		padding: 10px 20px 20px;
		-webkit-box-shadow: 0 0 20px 0px #555;
		box-shadow: 0 0 20px 0px #555;
		border-bottom: none;
		font-size: 17px;
	}

	.title {
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
		-moz-transform-origin: 0% 0%;
		-webkit-transform-origin: 0% 0%;
		-o-transform-origin: 0% 0%;
		-ms-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
		position: absolute;
		bottom: -1em;
		min-width: 1000px;
		left: -0.1em;
		font-size: 600%;
		color: #0084FF;
	}
	.subtitle {
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
		-moz-transform-origin: 0% 0%;
		-webkit-transform-origin: 0% 0%;
		-o-transform-origin: 0% 0%;
		-ms-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
		position: absolute;
		bottom: -0.9em;
		width: 695px;
		left: 70px;
		font-size: 300%;
	}

	#store-list-container > div:not(#foo) > input + label {
		font-size: 140%;
	}
}